:root {
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
} 

.page.theme_dark {
  background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --button-color: #FF0070;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
}
